* {
    margin: 0;
    padding: 0;
}
ul li { list-style-type: none; }
a:hover { text-decoration: none; }
a { text-decoration: none; }
/*Хедер*/
.top_background {
    background: url(../images/bg-top.png) no-repeat 50% 50%;
    text-align: center;
    height: 100%;
    color: #fff;
}
.top_background a { color: #fff; }
.top_background h1 {
    font: bold 90px Existence-Light, sans-serif;
    margin-top: 107px;
    letter-spacing: 1px;
    transition: text-shadow 1s;
}
.top_background h1:hover { text-shadow: 0 0 10px rgba(0,0,0,0.7); }
.top_background span { color: #9f449b; }
.top_background h2 {
    font: bold 48px Lato-Hairline, sans-serif;
    padding-top: 42px;
}
.top_background h3 { font: bold 24px Lato-Hairline, sans-serif; }
.icon_top {
    border: 3px solid #fff;
    font: bold 41pt Lato-Regular, sans-serif;
    width: 165px;
    height: 165px;
    display: inline-block;
    border-radius: 100px;
    background-color: rgba(255,255,255,.15);
    transition: border 1s, background-color 1s;
    margin-bottom: 30px;
}
.icon_top .fa { padding-top: 25px; }
.icon_top:hover {
    border: 3px solid rgba(158, 69, 154, .7);
    background-color: rgba(158, 69, 154, .7);
    text-shadow: 0 0 10px rgba(0,0,0,1);
    text-decoration: none;
}
.top_nav { padding-top: 112px; }
.top_nav a { font: bold 65px Lato-Regular, sans-serif; }
.top_nav p{
    font: bold 18px Lato-Regular, sans-serif;
    padding: 12px 0;
}
.margin_icon_top { margin-top: 206px; }
.sm_head_nav {
    width: 86px;
    height: 86px;
    border: 3px solid #fff;
    line-height: 86px;
    font-size: 52px;
    display: inline-block;
    border-radius: 100px;
    background-color: rgba(255,255,255,.15);
    transition: border 1s, background-color 1s;
}
.sm_head_nav:hover {
    border: 3px solid rgba(158, 69, 154, .7);
    background-color: rgba(158, 69, 154, .7);
    text-shadow: 0 0 10px rgba(0,0,0,1);
}

/* Навигация под хедером */
.navbar {
    position: relative;
    min-height: 142px;
    margin-bottom: 0;
    border: none;
    background-color: #fff;
}
.logo_middle {
    font: bold 24pt Existence-Light, sans-serif;
    color: #676767;
    transition: text-shadow .5s;
}
.logo_middle span { color: #9f449b; }
.logo_middle:hover { text-shadow: 0 0 10px rgba(0,0,0,0.7); }
.nav li {
    text-transform: uppercase;
    font: bold 15px Lato-Light, sans-serif;
}
.navbar-nav > li > a { color: #676767; }
.navbar-nav > li > a:hover { color: #9f449b !important; }
button.navbar-toggle, .nav li a { line-height: 142px; }
.navbar-nav {
    float: none;
    text-align: center;
}
.navbar-nav li {
    float: none;
    display: inline-block;
}
/* 4 блока под навигацией */
.content_box {
    text-align: center;
    height: 100%;
    background: #eeeeee;
    width: 100%;
}
.wrap_cont_box {
    margin: 168px 0;
    width: 262px;
    height: 402px;
    display: inline-block;
}
.content_box a {
    width: 262px;
    height: 402px;
    color: #676767;
}
.wrap_cont_box .fa {
    font-size: 53pt;
    color: #ccd0d2;
    width: 262px;
    height: 402px;
    position: absolute;
    right: -52px;
    padding-top: 52px;
    transition: color 1s;
}
.wrap_cont_box .icon_middle {
    width: 167px;
    height: 167px;
    border: 3px solid #ccd0d2;
    margin-left: 46px;
    margin-bottom: 45px;
    position: relative;
    transition: border 1s;
    border-radius: 100px;
}
.wrap_cont_box h4 { font: bold 19pt Lato-Light, sans-serif; }
.wrap_cont_box p { font: bold 12pt/2 Lato-Light, sans-serif; }
.wrap_cont_box .fa:hover { color: #a957a5; }
.wrap_cont_box .icon_middle:hover { border: 3px solid #a957a5; }
/* Заголовки */
.title {
    font: bold 37pt Existence-Light, sans-serif;
    color: #676767;
    margin: 110px auto 50px auto;
    text-align: center;
    max-width: 366px;
    height: 114px;
    line-height: 114px;
    background: url(../images/title-border-left.png) no-repeat, url(../images/title-border-right.png) no-repeat;
    background-position: bottom left, top right;
}
.title span { color: #9f449b; }
/* Блок "About us" */
.about {
    margin-top: 60px;
}
.wrap_about { height: 100%; }
.wrap_about img {
    padding-bottom: 100px;
    width: 100%;
}
.about_us_text p {
    font: bold 12pt Existence-Light, sans-serif;
    line-height: 36px;
    padding-top: 16px;
}
.about_btn {
    width: 227px;
    height: 70px;
    text-align: center;
    border-bottom: 5px solid #6b2e68;
    background-color: #9f449b;
    display: block;
    margin: 20px 35px;
    border-radius: 8px;
    transition: background-color 1s;
}
.about_btn a {
    font: bold 21px Lato-Light, sans-serif;
    color: #fff;
    line-height: 70px;
    display: block;
}
.about_btn:hover { background-color: #7f357c; }
/*Блок между блоками*/
.between_bg {
    background: url(../images/above-bg.png) no-repeat 50% 50%;
    text-align: center;
    height: 100%;
    color: #fff;
}
.between_bg p {
    font: 51px Lato-Light, sans-serif;
    text-align: center;
    color: #fff;
    padding: 40px 0 130px 0;
}
.between_bg .fa {
    font-size: 53pt;
    color: #fff;
    padding-top: 52px;
}
.between_bg .icon_middle {
    margin: 100px auto 20px auto;
    color: #fff;
    border: 3px solid #ccd0d2;
    width: 167px;
    height: 167px;
    border-radius: 100px;
}
/*Team и слайдер Amazing Carousel*/
.team {
    background-color: #eee;
    height: 100%;
}
#amazingcarousel-1 .amazingcarousel-image img {
    width: 252px !important;
    height: 252px !important;
    border-radius: 300px !important;
}
#amazingcarousel-1 .amazingcarousel-next {
    margin-right: -50px !important;
}
#amazingcarousel-1 .amazingcarousel-prev {
    margin-left: -50px !important;
}
#amazingcarousel-container-1 {
    padding: 10px 10px 128px 10px !important;
}
#amazingcarousel-1 blockquote {
    font: bold 24px Lato-Light, sans-serif !important;
    color: #484848 !important;
}
.social-btn-team {
    display: inline-block;
    width: 48px;
    height: 48px;
    border: 1px solid #484848;
    border-radius: 50px;
    transition: box-shadow 1s;
    margin: 30px 10px;
}
.social-btn-team a {
    color: #484848;
    font-size: 30px;
    line-height: 47px;
}
.social-btn-team:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.crsl-item > p {
    font: bold 24px Lato-Light, sans-serif;
    color: #484848;
    text-transform: uppercase;
    padding: 1em;
}
.crsl-item > p span {
    font: bold 15px Lato-Light, sans-serif;
    color: #777777;
    text-transform: none;
}
.sm-team-nav {
    margin: 0 8px;
}
.sm-team-nav .fa {
    color: #a957a5;
    font-size: 49px;
    line-height: 57px;
    width: 60px;
    height: 60px;
    border: 3px solid #a957a5;
    display: inline-block;
    border-radius: 100px;
    transition: box-shadow .5s;
}
.sm-team-nav .fa:hover { box-shadow: 0 0 10px rgba(0,0,0,0.9); }

/*Scills*/
.box-scills {
    padding-bottom: 68px;
    width: 100%;
}
.scills { margin-bottom: 36px; }
.scills-img {
    width: 100%;
    height: 20px;
    overflow: hidden;
}
.scills-img img {
    height: 80px;
    width: 100%;
}
.graphic-design img { margin-top: -20px; }
.html-css img { margin-top: -40px; }
.ui-ux img { margin-top: -62px; }
.box-scills p {
    font: bold 23px Myriad Pro, sans-serif;
    text-transform: uppercase;
}
.box-scills p span {
    position: absolute;
    right: 15px;
    color: #777;
    font: 26px Myriad Pro, sans-serif;
}
/*Services*/
.portfolio {
    background-color: #eee;
    height: 100%;
    text-align: center;
}
.portfolio_box {
    font: 46pt HelveticaNeueLTStd-Lt, sans-serif;
    color: #222;
    line-height: 39px;
    padding: 28px 0;
}
.portfolio_box span {
    font: bold 11pt HelveticaNeueLTStd-Lt, sans-serif;
    color: #777;
}



